###############
# Directories #
###############

.git/
.github/
.idea/
.vscode/
api/
deploy/
dist/
doc/

#########
# Files #
#########

*.so
*.out
main
inetmock
README.md
LICENSE
.dockerignore
.gitignore
Dockerfile
