#########
# files #
#########

**/cov.out
**/cov-raw.out
**/*.so
*.key
*.pem
/inetmock
/imctl
./main
**/*.mock.go
**/*_enum.go

###############
# directories #
###############

.idea/
.vscode/
dist/
out/
.task/
public/