#########
# files #
#########

**/cov.out
**/cov-raw.out
**/*.so
*.key
*.pem
/inetmock
/imctl
./main
**/*.mock.go
**/*.pb.go

###############
# directories #
###############

.idea/
.vscode/
dist/
out/