#########
# files #
#########

**/cov.out
**/cov-raw.out
**/*.so
**/*.o
**/*.mock.go
*.key
*.pem
/inetmock
/imctl
./main
.go/
__debug_bin

###############
# directories #
###############

.idea/
.vscode/
dist/
out/
.task/
public/
.fleet/
cmake-build-debug/
